h1.title Our Pricing 
label.annuallyselect(for="pricingcheck") Annually 
input.pricingcheck#pricingcheck(type="checkbox" aria-label="Select between annually or monthly price" aria-controls="cards")
label.monthlyselect(for="pricingcheck") Monthly